.header{
    margin-bottom: 0;
}
.container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction:  column;
     padding: 5%;
     

 }
 .footer{
     background-color: rgb(157, 187, 243);
     width: 100%;
     height: 200px;

 }
